body {
    background-color: #f8f9fa;
}

h1,
h2 {
    color: #343a40;
}

button {
    width: 100%;
}

p,
img {
    border: 1px solid #dee2e6;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

img {
    display: none;
}